body {
	position: relative;
	margin: 25px;
	font-family: Georgia;
}
#download_progress_area, #convert_progress_area {
	display: none;
}
#download_progress_bar {
	display: block;
	width: 0%;
	background-color: green;
	border: dashed 1px;
	color: black;
	text-align: center;
}
#download_progress_pct {
	position: relative;
	vertical-align: middle;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin:3px;
	color:white;
}